.registration {
  &__content {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
}

.error {
  &__container {
    margin-top: 10px;
  }
  &__message {
    color: red;
    font-size: 12px;
    height: 16px;
  }
}
